
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 50px auto;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*======================= styling of the left box ================== */

.left-box{
    text-align: center;
    height: 400px;
    width: 250px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 40px;
    padding: 20px;
}

.left-box > h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.score{
    display: flex;
    justify-content: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 0px auto;
    flex-direction: column;
}

.score span{
    color: white;
    font-size: 70px;
    font-weight: bold;
}

p{
    font-size: 15px;
    color: rgb(212, 212, 212);
    margin: 0px;
}

.remarks{
    margin: 15px;
}
.remarks > h3{
    color: white;
    font-size: 25px;
    font-weight: bold;
}


/*======================= styling of the right box ================== */
.right-box{
    height: 400px;
    width: 250px;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 20px 10px 25px 3px #e0e5eb;
    padding: 20px;
}

.sumary{
    padding-bottom: 20px;
    color: rgb(104, 102, 102);
    font-size: 20px;
    font-weight: bold;
}


.cards{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    
}

.sub-card{
    display: flex;
    gap: 8px;
    font-size: 25px;
    font-weight: medium;
}



/* ============ styling the entire borders ================== */

.card1{
    background-color: rgba(255, 0, 0, 0.089);
    border-radius: 15px;
    margin-bottom: 15px;
}
.card2{
    background-color: rgba(255, 187, 53, 0.089);
    border-radius: 15px;
    margin-bottom: 15px;
}
.card3{
    background-color: rgb(0, 187, 143, 0.089);
    border-radius: 15px;
    margin-bottom: 15px;
}
.card4{
    background-color: rgba(17, 37, 214, 0.089);
    border-radius: 15px;
    margin-bottom: 35px;
}

/* ============ A class to style the individual remarks ================== */
.react{
    color: rgb(255 85 85);
    font-size: 15px;
}
.mem{
    color: rgb(255 187 53);
    font-size: 15px;
}
.verb{
    color: rgb(0 187 143);
    font-size: 15px;
}
.vis{
    color: rgb(17 37 214);
    font-size: 15px;
}

.dark{
    font-weight: bold;
    color: black;
}

.grey{
    color: grey;
}

/*============== Styling the continue button*/
.btn{
    text-align: center;
    background-color: rgb(40, 45, 83);
    font-weight: medium;
    padding: 10px 40px 10px 40px;
    margin: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: white;
}


/* =========== Mobile Design =================== */

@media (max-width: 300px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
    }

    .right-box{
        height: 400px;
        width: 250px;
        border-radius: 0px;
        box-shadow: none;
        padding: 20px;
    }

    .left-box{
        text-align: center;
        height: 400px;
        width: 250px;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        border-radius: 0px 0px 40px 40px;
        padding: 20px;
    }
}


